<!DOCTYPE html>
<html>
  <head>
    <title>Midway Check</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'custom', media: 'all' %> 
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <% if @midpoint.present? && @places.present? %>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:google_maps, :api_key)}&callback=initMap", async: true, defer: true %>
      <script>
        function initMap() {
          var mapOptions = {
            zoom: 12,
            center: { lat: <%= @midpoint[0] %>, lng: <%= @midpoint[1] %> }
          };
          var map = new google.maps.Map(document.getElementById('map'), mapOptions);
          <% @places.each do |place| %>
            new google.maps.Marker({
              position: { lat: <%= place['geometry']['location']['lat'] %>, lng: <%= place['geometry']['location']['lng'] %> },
              map: map,
              title: "<%= place['name'] %>"
            });
          <% end %>
        }
      </script>
    <% end %>
  </body>
</html>
